@model IEnumerable<EntityLayer.Writer>

@{
    ViewBag.Title = "WriterWithA";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İsminde A olan Yazarlar</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WriterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WriterSurname)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WriterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WriterSurname)
        </td>
    </tr>
}

</table>
