@model EntityLayer.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h2>İçerik Girişi</h2>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingId" value="@ViewBag.Id"/>
        @Html.Label("İçeriğinizi Yazınız")
        @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
        <button id="btnkaydet" class="btn btn-info">Kaydet</button>
    </div>
}
<script>
    $('#btnkaydet').click(function () {
        swal("Tebrikler!", "Ekleme işlemi başarı bir şekilde eklendi", "success");
    });
</script>
